doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https: /2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
    body
      navbar 
        h3 Ventas de la academia
        ul 
          li Exportar
          li Registrar una venta