doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https: /2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
    body
      header
        section
          ul(class="sales")
            li Ventas de la academia
          ul(class="options") 
            button Exportar
            button Registrar una venta
        br
        br
        br    
        hr    
        article 
          section(class="earnings")
            div(class="card")
              h5 Cantidad de ventas
              h1 322
              h6 Últimos 60 días
            div(class="card")
              h5 Recaudo (MXN) 
              h1 $ 77322 MXN 
              h6 04/10/2020 - 04/12/2020
            div(class="card") 
              h5 Recaudo (USD) 
              h1 $ 10420 USD
              h6 Todos los tiempos 
            div(class="card")
              h5 Recaudo (ARS)
              h1 257000 ARS
              h6 04/10/2020 - 04/12/2020
        main
          div(class="mainContent")
            div(class="filters")
              ul
                input(placeholder='Busca por #orden o comprador') 
                select
                  option Curso
                select 
                  option Estado
                select 
                  option Medio de Pago
                input(type='date')      