doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https: /2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
    body
      header
        section
          ul(class="sales")
            li Ventas de la academia
          ul(class="options") 
            button Exportar
            button Registrar una venta
        br
        br
        br    
        hr    
        article 
          section 
            div
              h4 Cant de ventas  