doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
    body
      header
        section
          ul(class="sales")
            li Ventas de la academia
          ul(class="options") 
            button(id="btn")
              span(class="icon-file_download---material") &nbsp; EXPORTAR
            button(id="btn1") REGISTRAR UNA VENTA
        br
        br
        br    
        hr(id="headerDivider")    
      article 
          section(class="earnings")
            div(class="card")
              h5(class="cardTitle") Cantidad de ventas
              h1 322
              h6(class="cardDate") Últimos 60 días
            div(class="card")
              h5(class="cardTitle") Recaudo (MXN) 
              h1 $ 77322 MXN 
              h6(class="cardDate") 04/10/2020 - 04/12/2020
            div(class="card") 
              h5(class="cardTitle") Recaudo (USD) 
              h1 $ 10420 USD
              h6(class="cardDate") Todos los tiempos 
            div(class="card")
              h5(class="cardTitle") Recaudo (ARS)
              h1 257000 ARS
              h6(class="cardDate") 04/10/2020 - 04/12/2020
      main
          div(class="mainContent")
            div(class="filters")
              ul
                input(class="searchBar", placeholder='Busca por #orden o comprador') 
                span(class="icon-Buscar")
                select
                  option Curso
                select 
                  option Estado
                select 
                  option Medio de Pago
                input(type='date')
            div 
              ul(class="categories") 
                h5(class="order") # Orden &nbsp;
                  span(class="icon-Filtrar")
                h5(class="order") # Curso &nbsp;
                  span(class="icon-Filtrar")
                h5(class="salesData") Comprador &nbsp;
                  span(class="icon-Filtrar")
                h5(class="salesData") Fecha &nbsp;
                  span(class="icon-Filtrar")
                h5(class="salesData") Estado &nbsp;
                  span(class="icon-Filtrar")
                h5(class="salesData") Ganancias  &nbsp;
                  span(class="icon-Filtrar")
            hr(class="dataDivider")
            table 
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50  &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50 &nbsp; &nbsp;
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50      &nbsp; &nbsp;  
                td
                  span(class="icon-Menu-Tres-Puntos")                         