doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https://2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
      header
        section
          ul(class="sales")
            li Ventas de la academia
          ul(class="options") 
            button(id="btn")
              span(class="icon-file_download---material") &nbsp; EXPORTAR
            button(id="btn1") REGISTRAR UNA VENTA
        br
        br
        br    
        hr(id="headerDivider")    
      article 
          section(class="earnings")
            div(class="card")
              h5(class="cardTitle") Cantidad de ventas
              h1 322
              h6(class="cardDate") Últimos 60 días
            div(class="card")
              h5(class="cardTitle") Recaudo (MXN) 
              h1 $ 77322 MXN 
              h6(class="cardDate") 04/10/2020 - 04/12/2020
            div(class="card") 
              h5(class="cardTitle") Recaudo (USD) 
              h1 $ 10420 USD
              h6(class="cardDate") Todos los tiempos 
            div(class="card")
              h5(class="cardTitle") Recaudo (ARS)
              h1 257000 ARS
              h6(class="cardDate") 04/10/2020 - 04/12/2020
      main
          div(class="mainContent")
            div(class="filters")
              ul
                span(class="icon-Buscar")
                input(class="searchBar", placeholder='Busca por #orden o comprador...') 
                select
                  option Curso
                select 
                  option Estado
                select 
                  option Medio de Pago
                input(type='date')
            div(class="categories")
              table
                tr
                  td(id="order") # Orden 
                    span(class="icon-Filtrar")
                  td(class="course") &emsp;&emsp;&emsp;&emsp;&emsp; # Curso 
                    span(class="icon-Filtrar")
                  td(class="salesData") Comprador 
                    span(class="icon-Filtrar")
                  td(class="salesData") Fecha 
                    span(class="icon-Filtrar") 
                  td(class="salesData") Estado 
                    span(class="icon-Filtrar")
                  td(class="salesData") Ganancias  
                    span(class="icon-Filtrar")
            hr(class="dataDivider")
            table 
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="receipt") Comprobante 
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50 
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="receipt") Comprobante 
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50   
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="payed") Pagada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="pending") Pendiente
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="payed") Pagada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")     
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="rejected") Rechazada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="payed") Pagada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="payed") Pagada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50  
                td
                  span(class="icon-Menu-Tres-Puntos")
            hr(class="dataDivider")    
            table      
              tr 
                td(class="productOrder") 10063-0021
                td(class="course") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="payed") Pagada
                td(class="tableData") &emsp;&emsp;&emsp;&emsp; USD $50         
                td
                  span(class="icon-Menu-Tres-Puntos")                         