doctype html
html 
    head 
        title Listado de ventas 
        link(rel="stylesheet", href="/styles/index.css")
        link(rel="stylesheet", href="https: /2.cdn.wisboo.com/fonts/icons-wisboo/style.css")
    body
      header
        section
          ul(class="sales")
            li Ventas de la academia
          ul(class="options") 
            button(id="btn") EXPORTAR 
            button(id="btn1") REGISTRAR UNA VENTA
        br
        br
        br    
        hr(id="headerDivider")    
      article 
          section(class="earnings")
            div(class="card")
              h5(class="cardTitle") Cantidad de ventas
              h1 322
              h6(class="cardDate") Últimos 60 días
            div(class="card")
              h5(class="cardTitle") Recaudo (MXN) 
              h1 $ 77322 MXN 
              h6(class="cardDate") 04/10/2020 - 04/12/2020
            div(class="card") 
              h5(class="cardTitle") Recaudo (USD) 
              h1 $ 10420 USD
              h6(class="cardDate") Todos los tiempos 
            div(class="card")
              h5(class="cardTitle") Recaudo (ARS)
              h1 257000 ARS
              h6(class="cardDate") 04/10/2020 - 04/12/2020
      main
          div(class="mainContent")
            div(class="filters")
              ul
                input(placeholder='Busca por #orden o comprador') 
                select
                  option Curso
                select 
                  option Estado
                select 
                  option Medio de Pago
                input(type='date')
            div 
              ul(class="categories") 
                h6 # Orden 
                h6 # Curso 
                h6(class="salesData") Comprador
                h6(class="salesData") Fecha 
                h6(class="salesData") Estado 
                h6(class="salesData") Ganancias    
            hr(class="dataDivider")
            table 
              tr 
                td(class="productOrder") 10063-0021
                td(class="productOrder") Baby Monitor Technology
                td(class="tableData") Aaron Almaraz 
                td(class="tableData") 19 Dec 2020
                td(class="tableData") Comprobante
                td(class="tableData") USD $50