@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oswald&family=The+Nautigal:wght@700&display=swap');
$bgcolor: rgb(236, 236, 235);

body {
    background-color: $bgcolor;
    font-family: 'Be Vietnam Pro', sans-serif;
}