@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oswald&family=The+Nautigal:wght@700&display=swap');
$bgcolor: rgb(238, 238, 238);

body {
    background-color: $bgcolor;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    margin: 50px;
    margin-right: 90px;
}

.sales {
    float: left;
    font-size: large;
    font-weight: 800;
    color:rgb(70, 70, 70);
}

ul {
    list-style: none;
}

.options {
    float: right;
}

hr {
    margin-left: 40px;
}

h4 {
    padding-top: 100px;
}

.earnings {
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 60px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 150px;
}
  